In [12]:
# 필요한 라이브러리 import
import pandas as pd
import numpy as np

In [13]:
# csv 파일로 저장된 raw 데이터 df로 불러옴 
df_store = pd.read_csv('raw/서울시_상권분석서비스(점포-상권)_2019년~2023년.csv', encoding='utf-8')

In [14]:
df_store.head(5)

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,R,전통시장,3130018,동대문문구완구거리(동대문문구완구시장),CS300043,전자상거래업,10,10,10,1,0,0,0
1,20191,D,발달상권,3120165,서래마을카페거리(서래마을),CS100007,치킨전문점,0,1,0,0,100,1,1
2,20191,D,발달상권,3120177,신논현역 1번,CS300015,가방,3,3,0,0,0,0,0
3,20191,A,골목상권,3110508,서연중학교,CS200041,사진관,6,6,17,1,0,0,0
4,20191,A,골목상권,3110241,먹골역 5번,CS300036,조명용품,2,2,0,0,0,0,0

In [15]:
# 업종 코드와 해당하는 업종명을 unique 메서드를 사용하여 중복 없는 데이터 추출
dict_ = {'st_cd' : list(np.array(df_store['서비스_업종_코드'].unique())),
        'st_nm' : list(np.array(df_store['서비스_업종_코드_명'].unique()))}

In [16]:
# dataframe 형식으로 변환
df_code = pd.DataFrame.from_dict(dict_)
df_code

       st_cd     st_nm
0   CS300043    전자상거래업
1   CS100007     치킨전문점
2   CS300015        가방
3   CS200041       사진관
4   CS300036      조명용품
..       ...       ...
95  CS200013   기타법무서비스
96  CS200047    가정용품임대
97  CS200045  비디오/서적임대
98  CS200010    변호사사무소
99  CS300037     중고차판매

[100 rows x 2 columns]

In [17]:
# 데이터 정규화와 칼럼명 교체
df_store.drop(columns=['상권_구분_코드_명','상권_코드_명','서비스_업종_코드_명'], inplace=True)
df_store.columns = ['aq_cd','cd_div_cd','cd_cd','st_cd','total_ns','si_ns','total_or','open_ns','total_cr','close_ns','franchise_ns']

In [18]:
df_store.head(5)

,aq_cd,cd_div_cd,cd_cd,st_cd,total_ns,si_ns,total_or,open_ns,total_cr,close_ns,franchise_ns
0,20191,R,3130018,CS300043,10,10,10,1,0,0,0
1,20191,D,3120165,CS100007,0,1,0,0,100,1,1
2,20191,D,3120177,CS300015,3,3,0,0,0,0,0
3,20191,A,3110508,CS200041,6,6,17,1,0,0,0
4,20191,A,3110241,CS300036,2,2,0,0,0,0,0

In [19]:
# output 폴더에 저장
df_store.to_csv('output/cd_store.csv', encoding='utf-8')
df_code.to_csv('output/code_info.csv', encoding='utf-8')