In [1]:
# 필요한 라이브러리 import
import pandas as pd

In [15]:
# csv 파일로 저장된 raw 데이터 dataframe으로 불러옴 
df_area = pd.read_csv('raw/서울시_상권분석서비스(영역-상권)_epsg_4162.csv', encoding='utf-8', index_col=0)

In [16]:
df_area.head(5)

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적,경도,위도
0,A,골목상권,3110008,배화여자대학교(박노수미술관),11110,종로구,11110515,청운효자동,149264,126.969189,37.577515
1,A,골목상권,3110009,자하문터널,11110,종로구,11110550,부암동,178306,126.968028,37.592283
2,A,골목상권,3110010,평창동서측,11110,종로구,11110560,평창동,369415,126.968848,37.606575
3,A,골목상권,3110017,정독도서관,11110,종로구,11110600,가회동,83855,126.986036,37.580789
4,A,골목상권,3110018,중앙고등학교,11110,종로구,11110600,가회동,166872,126.989455,37.579969

In [17]:
# 한글 칼럼명을 가공하기 좋은 형태로 교체하고, 데이터 정규화를 위해 상권_구분, 상권, 자치구, 행정동 칼럼을 분리
df_area.columns = ['cd_div_cd','cd_div_nm','cd_cd','cd_nm','br_cd','br_nm','ab_cd','ab_nm','area','lon','lat']
df_region_info = df_area[['cd_div_cd','cd_div_nm','cd_cd','cd_nm','br_cd','br_nm','ab_cd','ab_nm']]

In [18]:
df_region_info.head(5)

  cd_div_cd cd_div_nm    cd_cd            cd_nm  br_cd br_nm     ab_cd  ab_nm
0         A      골목상권  3110008  배화여자대학교(박노수미술관)  11110   종로구  11110515  청운효자동
1         A      골목상권  3110009            자하문터널  11110   종로구  11110550    부암동
2         A      골목상권  3110010            평창동서측  11110   종로구  11110560    평창동
3         A      골목상권  3110017            정독도서관  11110   종로구  11110600    가회동
4         A      골목상권  3110018           중앙고등학교  11110   종로구  11110600    가회동

In [19]:
# 데이터 정규화를 위해 각 코드에 해당하는 한글명 칼럼 제거
df_area.drop(columns=['cd_div_nm','cd_nm','br_nm','ab_nm'], inplace=True)

In [20]:
df_area.head(5)

  cd_div_cd    cd_cd  br_cd     ab_cd    area         lon        lat
0         A  3110008  11110  11110515  149264  126.969189  37.577515
1         A  3110009  11110  11110550  178306  126.968028  37.592283
2         A  3110010  11110  11110560  369415  126.968848  37.606575
3         A  3110017  11110  11110600   83855  126.986036  37.580789
4         A  3110018  11110  11110600  166872  126.989455  37.579969

In [21]:
# output 폴더에 정제된 데이터 저장
df_area.to_csv('output/region_info.csv', encoding='utf-8')
df_region_info.to_csv('output/cd_area.csv', encoding='utf-8')